################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.cr
/bin
obj
*.user
/_NCrunch_Amarok.Events
